<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Creating and Publishing Players Using the Players Module/intro.mov</key>
	<data>
	Ym9vazQDAAAAAAQQMAAAAN+K0PNLmYS66vLidd1rhMtfpyh1vn2IEiAoQ/Q3Rpn0PAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEBAABNb3ZpZXMAAB8A
	AAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwA4AAAAAQEAAENyZWF0
	aW5nIGFuZCBQdWJsaXNoaW5nIFBsYXllcnMgVXNpbmcgdGhlIFBsYXllcnMgTW9kdWxl
	CQAAAAEBAABpbnRyby5tb3YAAAAYAAAAAQYAAAQAAAAUAAAAJAAAADQAAABcAAAAnAAA
	AAgAAAAEAwAANxACAAAAAAAIAAAABAMAAEUDBQAAAAAACAAAAAQDAADbAwUAAAAAAAgA
	AAAEAwAAvgk5AQAAAAAIAAAABAMAADgUOgEAAAAACAAAAAQDAADYFzoBAAAAABgAAAAB
	BgAA0AAAAOAAAADwAAAAAAEAABABAAAgAQAACAAAAAAEAABBuZO8oQAAABgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEA
	AAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAgIE9dAAAAAgAAAAABAAAQbagwTEA
	AAAkAAAAAQEAADJENDhFQUQ2LURFMDUtMzM2Qi1BMkY5LTM5MzhEMUJFMkUxNxgAAAAB
	AgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAA
	AwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACwAAAAAAAAAAUQAAAwAQAAAAAA
	ABAQAABgAQAAAAAAAEAQAABQAQAAAAAAAAIgAAAcAgAAAAAAABAgAACcAQAAAAAAABEg
	AADQAQAAAAAAABIgAACwAQAAAAAAABMgAADAAQAAAAAAACAgAAD8AQAAAAAAADAgAAAo
	AgAAAAAAAAHAAACAAQAAAAAAABHAAAAUAAAAAAAAABLAAACQAQAAAAAAABDQAAAwAgAA
	AAAAAA==
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Integrating Video Cloud with Oracle Eloqua/Eloqua Intro.mpg</key>
	<data>
	Ym9va0gDAAAAAAQQMAAAAEGfzS99dyagVIN8qIqYvBvaEMKw10yEpKMEm15PtKyYRAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAq
	AAAAAQEAAEludGVncmF0aW5nIFZpZGVvIENsb3VkIHdpdGggT3JhY2xlIEVsb3F1YQAA
	EAAAAAEBAABFbG9xdWEgSW50cm8ubXBnGAAAAAEGAAAQAAAAIAAAADAAAABAAAAAaAAA
	AJwAAAAIAAAABAMAAAMvEAAAAAAACAAAAAQDAAAFLxAAAAAAAAgAAAAEAwAAFrUVAAAA
	AAAIAAAABAMAAKHrFQAAAAAACAAAAAQDAACmRdsAAAAAAAgAAAAEAwAAwVvdAAAAAAAY
	AAAAAQYAANQAAADkAAAA9AAAAAQBAAAUAQAAJAEAAAgAAAAABAAAQbvntSgAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMA
	APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
	gjF0AAAACAAAAAAEAABBtqDBMQAAACQAAAABAQAAMDU1RTBCRjktNjg1Mi0zNkJGLTlF
	RTctNUU3MTdGNUU3MDUzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
	AQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAA
	ADQBAAAAAAAAEBAAAGQBAAAAAAAAQBAAAFQBAAAAAAAAAiAAADACAAAAAAAABSAAAKAB
	AAAAAAAAECAAALABAAAAAAAAESAAAOQBAAAAAAAAEiAAAMQBAAAAAAAAEyAAANQBAAAA
	AAAAICAAABACAAAAAAAAMCAAADwCAAAAAAAAAcAAAIQBAAAAAAAAEcAAACAAAAAAAAAA
	EsAAAJQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Integrating Video Cloud with Oracle Eloqua/Integrating Video Cloud with Oracle Eloqua.m4v</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAAApG9qmIbdrSq9WUXlMKjdeI4msL6VJtYW5QdaNP8LOMZAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAq
	AAAAAQEAAEludGVncmF0aW5nIFZpZGVvIENsb3VkIHdpdGggT3JhY2xlIEVsb3F1YQAA
	LgAAAAEBAABJbnRlZ3JhdGluZyBWaWRlbyBDbG91ZCB3aXRoIE9yYWNsZSBFbG9xdWEu
	bTR2AAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABoAAAAnAAAAAgAAAAEAwAAAy8QAAAA
	AAAIAAAABAMAAAUvEAAAAAAACAAAAAQDAAAWtRUAAAAAAAgAAAAEAwAAoesVAAAAAAAI
	AAAABAMAAKZF2wAAAAAACAAAAAQDAACE6d8AAAAAABgAAAABBgAA9AAAAAQBAAAUAQAA
	JAEAADQBAABEAQAACAAAAAAEAABBu+kHywAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAACCMXQAAAAIAAAAAAQAAEG2oMEx
	AAAAJAAAAAEBAAAwNTVFMEJGOS02ODUyLTM2QkYtOUVFNy01RTcxN0Y1RTcwNTMYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAAVAEAAAAAAAAQEAAAhAEAAAAA
	AABAEAAAdAEAAAAAAAACIAAAUAIAAAAAAAAFIAAAwAEAAAAAAAAQIAAA0AEAAAAAAAAR
	IAAABAIAAAAAAAASIAAA5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAwIAAA
	XAIAAAAAAAABwAAApAEAAAAAAAARwAAAIAAAAAAAAAASwAAAtAEAAAAAAAAQ0AAABAAA
	AAAAAAA=
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Live Streaming using Adobe Flash Media Live Encoder/Live AFMLE Intro.mp4</key>
	<data>
	Ym9va1QDAAAAAAQQMAAAANplMuIdODljtzdGnTSJfraETGeSKZ4vVH7j/B1vyqxQUAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAz
	AAAAAQEAAExpdmUgU3RyZWFtaW5nIHVzaW5nIEFkb2JlIEZsYXNoIE1lZGlhIExpdmUg
	RW5jb2RlcgAUAAAAAQEAAExpdmUgQUZNTEUgSW50cm8ubXA0GAAAAAEGAAAQAAAAIAAA
	ADAAAABAAAAAaAAAAKQAAAAIAAAABAMAAAMvEAAAAAAACAAAAAQDAAAFLxAAAAAAAAgA
	AAAEAwAAFrUVAAAAAAAIAAAABAMAAKHrFQAAAAAACAAAAAQDAADIIXYBAAAAAAgAAAAE
	AwAAzCF2AQAAAAAYAAAAAQYAAOAAAADwAAAAAAEAABABAAAgAQAAMAEAAAgAAAAABAAA
	QbysVQ4AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAAAAgjF0AAAACAAAAAAEAABBtqDBMQAAACQAAAABAQAAMDU1RTBCRjkt
	Njg1Mi0zNkJGLTlFRTctNUU3MTdGNUU3MDUzGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAA
	AMAAAAAAAAAABRAAAEABAAAAAAAAEBAAAHABAAAAAAAAQBAAAGABAAAAAAAAAiAAADwC
	AAAAAAAABSAAAKwBAAAAAAAAECAAALwBAAAAAAAAESAAAPABAAAAAAAAEiAAANABAAAA
	AAAAEyAAAOABAAAAAAAAICAAABwCAAAAAAAAMCAAAEgCAAAAAAAAAcAAAJABAAAAAAAA
	EcAAACAAAAAAAAAAEsAAAKABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Live Streaming using Telestream Wirecast/Live Wirecast Intro.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAANNKZgu5xUm8nS6Wvc75yfr5lDaqnCBNp4nzf0CZFXyVSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAo
	AAAAAQEAAExpdmUgU3RyZWFtaW5nIHVzaW5nIFRlbGVzdHJlYW0gV2lyZWNhc3QXAAAA
	AQEAAExpdmUgV2lyZWNhc3QgSW50cm8ubXA0ABgAAAABBgAAEAAAACAAAAAwAAAAQAAA
	AGgAAACYAAAACAAAAAQDAAADLxAAAAAAAAgAAAAEAwAABS8QAAAAAAAIAAAABAMAABa1
	FQAAAAAACAAAAAQDAACh6xUAAAAAAAgAAAAEAwAAySF2AQAAAAAIAAAABAMAAIImdgEA
	AAAAGAAAAAEGAADYAAAA6AAAAPgAAAAIAQAAGAEAACgBAAAIAAAAAAQAAEG8rFXBAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAAIIxdAAAAAgAAAAABAAAQbagwTEAAAAkAAAAAQEAADA1NUUwQkY5LTY4NTItMzZC
	Ri05RUU3LTVFNzE3RjVFNzA1MxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAC4AAAAAAAA
	AAUQAAA4AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Navigating the Audience Module/Audience module intro.mpg</key>
	<data>
	Ym9va0gDAAAAAAQQMAAAAIp6NQWuxX0GKpxdkqAz4oi+xJfswj32dCZlKJr2wOSLRAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAe
	AAAAAQEAAE5hdmlnYXRpbmcgdGhlIEF1ZGllbmNlIE1vZHVsZQAAGQAAAAEBAABBdWRp
	ZW5jZSBtb2R1bGUgaW50cm8ubXBnAAAAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAAaAAA
	AJAAAAAIAAAABAMAAAMvEAAAAAAACAAAAAQDAAAFLxAAAAAAAAgAAAAEAwAAFrUVAAAA
	AAAIAAAABAMAAKHrFQAAAAAACAAAAAQDAAAARNMAAAAAAAgAAAAEAwAAw0vTAAAAAAAY
	AAAAAQYAANQAAADkAAAA9AAAAAQBAAAUAQAAJAEAAAgAAAAABAAAQbveglkAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMA
	APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
	gjF0AAAACAAAAAAEAABBtqDBMQAAACQAAAABAQAAMDU1RTBCRjktNjg1Mi0zNkJGLTlF
	RTctNUU3MTdGNUU3MDUzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
	AQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAA
	ADQBAAAAAAAAEBAAAGQBAAAAAAAAQBAAAFQBAAAAAAAAAiAAADACAAAAAAAABSAAAKAB
	AAAAAAAAECAAALABAAAAAAAAESAAAOQBAAAAAAAAEiAAAMQBAAAAAAAAEyAAANQBAAAA
	AAAAICAAABACAAAAAAAAMCAAADwCAAAAAAAAAcAAAIQBAAAAAAAAEcAAACAAAAAAAAAA
	EsAAAJQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Navigating the Media Module/Media Module Intro.mpg</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAPBLy96+YR/HRTI3bJ46AgKh7qAXXCNbcmrIOrrpYAKkPAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAb
	AAAAAQEAAE5hdmlnYXRpbmcgdGhlIE1lZGlhIE1vZHVsZQAWAAAAAQEAAE1lZGlhIE1v
	ZHVsZSBJbnRyby5tcGcAABgAAAABBgAAEAAAACAAAAAwAAAAQAAAAGgAAACMAAAACAAA
	AAQDAAA3EAIAAAAAAAgAAAAEAwAARQMFAAAAAAAIAAAABAMAANsDBQAAAAAACAAAAAQD
	AAC+CTkBAAAAAAgAAAAEAwAAW8p7AQAAAAAIAAAABAMAAPmrnQEAAAAAGAAAAAEGAADM
	AAAA3AAAAOwAAAD8AAAADAEAABwBAAAIAAAAAAQAAEG6ZGLhAAAAGAAAAAECAAABAAAA
	AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAA
	AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAGAndAAAAAgA
	AAAABAAAQbagwTEAAAAkAAAAAQEAADJENDhFQUQ2LURFMDUtMzM2Qi1BMkY5LTM5MzhE
	MUJFMkUxNxgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACsAAAAAAAAAAUQAAAsAQAAAAAA
	ABAQAABcAQAAAAAAAEAQAABMAQAAAAAAAAIgAAAoAgAAAAAAAAUgAACYAQAAAAAAABAg
	AACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAAB8AQAAAAAAABHAAAAgAAAAAAAAABLAAACMAQAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Navigating the Media Module/Navigating Media Module Intro.mpg</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAAKFrGBccEqjz1S05lSMSTsBC+3EIC7azu8vHOaC3T9USAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAb
	AAAAAQEAAE5hdmlnYXRpbmcgdGhlIE1lZGlhIE1vZHVsZQAhAAAAAQEAAE5hdmlnYXRp
	bmcgTWVkaWEgTW9kdWxlIEludHJvLm1wZwAAABgAAAABBgAAEAAAACAAAAAwAAAAQAAA
	AGgAAACMAAAACAAAAAQDAAADLxAAAAAAAAgAAAAEAwAABS8QAAAAAAAIAAAABAMAABa1
	FQAAAAAACAAAAAQDAACh6xUAAAAAAAgAAAAEAwAAQ+4VAAAAAAAIAAAABAMAAEXuFQAA
	AAAAGAAAAAEGAADYAAAA6AAAAPgAAAAIAQAAGAEAACgBAAAIAAAAAAQAAEG7ATWtAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAcKJHdAAAAAgAAAAABAAAQbagwTEAAAAkAAAAAQEAADA1NUUwQkY5LTY4NTItMzZC
	Ri05RUU3LTVFNzE3RjVFNzA1MxgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAC4AAAAAAAA
	AAUQAAA4AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Sharing Videos to Another Account/Video Sharing Intro.mpg</key>
	<data>
	Ym9va0gDAAAAAAQQMAAAAOfgNau5BJOPk3eJmw6Mho/4SqPYhJzh5fb4fvsQJMojRAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAh
	AAAAAQEAAFNoYXJpbmcgVmlkZW9zIHRvIEFub3RoZXIgQWNjb3VudAAAABcAAAABAQAA
	VmlkZW8gU2hhcmluZyBJbnRyby5tcGcAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAAaAAA
	AJQAAAAIAAAABAMAAAMvEAAAAAAACAAAAAQDAAAFLxAAAAAAAAgAAAAEAwAAFrUVAAAA
	AAAIAAAABAMAAKHrFQAAAAAACAAAAAQDAACJV/YAAAAAAAgAAAAEAwAA61/2AAAAAAAY
	AAAAAQYAANQAAADkAAAA9AAAAAQBAAAUAQAAJAEAAAgAAAAABAAAQbv2aIYAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMA
	APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
	gjF0AAAACAAAAAAEAABBtqDBMQAAACQAAAABAQAAMDU1RTBCRjktNjg1Mi0zNkJGLTlF
	RTctNUU3MTdGNUU3MDUzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
	AQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAA
	ADQBAAAAAAAAEBAAAGQBAAAAAAAAQBAAAFQBAAAAAAAAAiAAADACAAAAAAAABSAAAKAB
	AAAAAAAAECAAALABAAAAAAAAESAAAOQBAAAAAAAAEiAAAMQBAAAAAAAAEyAAANQBAAAA
	AAAAICAAABACAAAAAAAAMCAAADwCAAAAAAAAAcAAAIQBAAAAAAAAEcAAACAAAAAAAAAA
	EsAAAJQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Sharing Videos to Other Accounts/Media Sharing Intro.mp4</key>
	<data>
	Ym9va0QDAAAAAAQQMAAAAMwh3oMdSIbtcEkUPfC0umcggPE8HiDjtVKHR+Nvd9DZQAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAg
	AAAAAQEAAFNoYXJpbmcgVmlkZW9zIHRvIE90aGVyIEFjY291bnRzFwAAAAEBAABNZWRp
	YSBTaGFyaW5nIEludHJvLm1wNAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABoAAAAkAAA
	AAgAAAAEAwAAAy8QAAAAAAAIAAAABAMAAAUvEAAAAAAACAAAAAQDAAAWtRUAAAAAAAgA
	AAAEAwAAoesVAAAAAAAIAAAABAMAAIlX9gAAAAAACAAAAAQDAABB8SEBAAAAABgAAAAB
	BgAA0AAAAOAAAADwAAAAAAEAABABAAAgAQAACAAAAAAEAABBvCiHcwAAABgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAACCMXQA
	AAAIAAAAAAQAAEG2oMExAAAAJAAAAAEBAAAwNTVFMEJGOS02ODUyLTM2QkYtOUVFNy01
	RTcxN0Y1RTcwNTMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAAAAAFEAAAMAEA
	AAAAAAAQEAAAYAEAAAAAAABAEAAAUAEAAAAAAAACIAAALAIAAAAAAAAFIAAAnAEAAAAA
	AAAQIAAArAEAAAAAAAARIAAA4AEAAAAAAAASIAAAwAEAAAAAAAATIAAA0AEAAAAAAAAg
	IAAADAIAAAAAAAAwIAAAOAIAAAAAAAABwAAAgAEAAAAAAAARwAAAIAAAAAAAAAASwAAA
	kAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Styling Players/Player Styling Slides.m4v</key>
	<data>
	Ym9vazgDAAAAAAQQMAAAAJIHee14DBwg/ID6wHviEHgRkNWoxqFDJ+St7HFn1f4QNAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAP
	AAAAAQEAAFN0eWxpbmcgUGxheWVycwAZAAAAAQEAAFBsYXllciBTdHlsaW5nIFNsaWRl
	cy5tNHYAAAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABoAAAAgAAAAAgAAAAEAwAAAy8Q
	AAAAAAAIAAAABAMAAAUvEAAAAAAACAAAAAQDAAAWtRUAAAAAAAgAAAAEAwAAoesVAAAA
	AAAIAAAABAMAAHewTgEAAAAACAAAAAQDAAArQk8BAAAAABgAAAABBgAAxAAAANQAAADk
	AAAA9AAAAAQBAAAUAQAACAAAAAAEAABBvHZtvwAAABgAAAABAgAAAQAAAAAAAAAPAAAA
	AAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
	ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAACCMXQAAAAIAAAAAAQAAEG2
	oMExAAAAJAAAAAEBAAAwNTVFMEJGOS02ODUyLTM2QkYtOUVFNy01RTcxN0Y1RTcwNTMY
	AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
	zAAAAP7///8BAAAAAAAAABAAAAAEEAAApAAAAAAAAAAFEAAAJAEAAAAAAAAQEAAAVAEA
	AAAAAABAEAAARAEAAAAAAAACIAAAIAIAAAAAAAAFIAAAkAEAAAAAAAAQIAAAoAEAAAAA
	AAARIAAA1AEAAAAAAAASIAAAtAEAAAAAAAATIAAAxAEAAAAAAAAgIAAAAAIAAAAAAAAw
	IAAALAIAAAAAAAABwAAAdAEAAAAAAAARwAAAIAAAAAAAAAASwAAAhAEAAAAAAAAQ0AAA
	BAAAAAAAAAA=
	</data>
	<key>/Users/bbailey/Movies/Video Cloud 2.0 Training Videos/Styling Players/Styling Player Intro.mp4</key>
	<data>
	Ym9vazQDAAAAAAQQMAAAAGhDr/8k4/K+PfVEKIkhwIyqQHbjEMRa82XaNQVk/yauMAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEB
	AABNb3ZpZXMAAB8AAAABAQAAVmlkZW8gQ2xvdWQgMi4wIFRyYWluaW5nIFZpZGVvcwAP
	AAAAAQEAAFN0eWxpbmcgUGxheWVycwAYAAAAAQEAAFN0eWxpbmcgUGxheWVyIEludHJv
	Lm1wNBgAAAABBgAAEAAAACAAAAAwAAAAQAAAAGgAAACAAAAACAAAAAQDAAADLxAAAAAA
	AAgAAAAEAwAABS8QAAAAAAAIAAAABAMAABa1FQAAAAAACAAAAAQDAACh6xUAAAAAAAgA
	AAAEAwAAd7BOAQAAAAAIAAAABAMAAAFXUAEAAAAAGAAAAAEGAADAAAAA0AAAAOAAAADw
	AAAAAAEAABABAAAIAAAAAAQAAEG8e3E6AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8v
	LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIIxdAAAAAgAAAAABAAAQbagwTEA
	AAAkAAAAAQEAADA1NUUwQkY5LTY4NTItMzZCRi05RUU3LTVFNzE3RjVFNzA1MxgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA
	/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAAAAUQAAAgAQAAAAAAABAQAABQAQAAAAAA
	AEAQAABAAQAAAAAAAAIgAAAcAgAAAAAAAAUgAACMAQAAAAAAABAgAACcAQAAAAAAABEg
	AADQAQAAAAAAABIgAACwAQAAAAAAABMgAADAAQAAAAAAACAgAAD8AQAAAAAAADAgAAAo
	AgAAAAAAAAHAAABwAQAAAAAAABHAAAAgAAAAAAAAABLAAACAAQAAAAAAABDQAAAEAAAA
	AAAAAA==
	</data>
	<key>/Users/bbailey/Movies/Video Cloud Training Videos/Activating and Deactivating Videos/intro.mov</key>
	<data>
	Ym9vaxwDAAAAAAQQMAAAAOXRutP8gLpfdHx1J+vwmORvRqOGEBDvgZ5E5vBKbnyqJAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkABgAAAAEBAABNb3ZpZXMAABsA
	AAABAQAAVmlkZW8gQ2xvdWQgVHJhaW5pbmcgVmlkZW9zACIAAAABAQAAQWN0aXZhdGlu
	ZyBhbmQgRGVhY3RpdmF0aW5nIFZpZGVvcwAACQAAAAEBAABpbnRyby5tb3YAAAAYAAAA
	AQYAAAQAAAAUAAAAJAAAADQAAABYAAAAhAAAAAgAAAAEAwAANxACAAAAAAAIAAAABAMA
	AEUDBQAAAAAACAAAAAQDAADbAwUAAAAAAAgAAAAEAwAAgskIAAAAAAAIAAAABAMAAD2O
	YgAAAAAACAAAAAQDAAB8Zc0AAAAAABgAAAABBgAAuAAAAMgAAADYAAAA6AAAAPgAAAAI
	AQAACAAAAAAEAABBuJBghwAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
	CAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAA
	AAQDAAAAgIE9dAAAAAgAAAAABAAAQbagwTEAAAAkAAAAAQEAADJENDhFQUQ2LURFMDUt
	MzM2Qi1BMkY5LTM5MzhEMUJFMkUxNxgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAA
	AAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAA
	DwAAAAQQAACYAAAAAAAAAAUQAAAYAQAAAAAAABAQAABIAQAAAAAAAEAQAAA4AQAAAAAA
	AAIgAAAEAgAAAAAAABAgAACEAQAAAAAAABEgAAC4AQAAAAAAABIgAACYAQAAAAAAABMg
	AACoAQAAAAAAACAgAADkAQAAAAAAADAgAAAQAgAAAAAAAAHAAABoAQAAAAAAABHAAAAU
	AAAAAAAAABLAAAB4AQAAAAAAABDQAAAYAgAAAAAAAA==
	</data>
	<key>/Users/bbailey/Pictures/gallery-logo.png</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAADM2lwuoYNtTijzzmrbwg6OrUUKk7KeWAx9c3QI1gfKqqAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkACAAAAAEBAABQaWN0dXJlcxAA
	AAABAQAAZ2FsbGVyeS1sb2dvLnBuZxAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAANxACAAAAAAAIAAAABAMAAEUDBQAAAAAACAAAAAQDAADfAwUAAAAAAAgAAAAEAwAA
	r/wSAQAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG5G/REAAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tqDBMQAAACQAAAABAQAAMkQ0OEVBRDYtREUwNS0zMzZCLUEyRjktMzkzOEQxQkUyRTE3
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
	<key>/Users/bbailey/Pictures/once-logo.png</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAAJJfah8RgN4T/G5wq2xKP2+B0+uRMHwJ96C+WvifcZRZqAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkACAAAAAEBAABQaWN0dXJlcw0A
	AAABAQAAb25jZS1sb2dvLnBuZwAAABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAANxACAAAAAAAIAAAABAMAAEUDBQAAAAAACAAAAAQDAADfAwUAAAAAAAgAAAAEAwAA
	GEsZAQAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG5Kj2EAAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tqDBMQAAACQAAAABAQAAMkQ0OEVBRDYtREUwNS0zMzZCLUEyRjktMzkzOEQxQkUyRTE3
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
	<key>/Users/bbailey/Pictures/perform-logo.png</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAADt+Cp4OnFDa6/SAnUX5oQLw4tIbyt57hVYjMEIp6DiTqAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkACAAAAAEBAABQaWN0dXJlcxAA
	AAABAQAAcGVyZm9ybS1sb2dvLnBuZxAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAANxACAAAAAAAIAAAABAMAAEUDBQAAAAAACAAAAAQDAADfAwUAAAAAAAgAAAAEAwAA
	l5EmAQAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG5T0DPAAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tqDBMQAAACQAAAABAQAAMkQ0OEVBRDYtREUwNS0zMzZCLUEyRjktMzkzOEQxQkUyRTE3
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
	<key>/Users/bbailey/Pictures/vc-bolt-logo.png</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAAM082BK5g370ZFkqaEp371EQD4Lcy95hRJFJoGDMllXhqAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkACAAAAAEBAABQaWN0dXJlcxAA
	AAABAQAAdmMtYm9sdC1sb2dvLnBuZxAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAANxACAAAAAAAIAAAABAMAAEUDBQAAAAAACAAAAAQDAADfAwUAAAAAAAgAAAAEAwAA
	0/wSAQAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG5G/RpAAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tqDBMQAAACQAAAABAQAAMkQ0OEVBRDYtREUwNS0zMzZCLUEyRjktMzkzOEQxQkUyRTE3
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
	<key>/Users/bbailey/Pictures/zc-bolt-logo.png</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAAJVKU/ICUc44ZqupYVL3W7BTwuptoko/z478NkzVUEJjqAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGJiYWlsZXkACAAAAAEBAABQaWN0dXJlcxAA
	AAABAQAAemMtYm9sdC1sb2dvLnBuZxAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAANxACAAAAAAAIAAAABAMAAEUDBQAAAAAACAAAAAQDAADfAwUAAAAAAAgAAAAEAwAA
	j0sZAQAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG5Kj3dAAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tqDBMQAAACQAAAABAQAAMkQ0OEVBRDYtREUwNS0zMzZCLUEyRjktMzkzOEQxQkUyRTE3
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
	<key>/Users/mboles/git/curriculum-developing-bc-player/v3-5x-updates-Feb2016/scripts/Getting Started with Brightcove Player Development.m4v</key>
	<data>
	Ym9va4ADAAAAAAQQMAAAAKCs5WSEk7gldpdFqGPW8jMmg1OmzvPv//yxAklTikb2fAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAG1ib2xlcwAAAwAAAAEB
	AABnaXQAHwAAAAEBAABjdXJyaWN1bHVtLWRldmVsb3BpbmctYmMtcGxheWVyABUAAAAB
	AQAAdjMtNXgtdXBkYXRlcy1GZWIyMDE2AAAABwAAAAEBAABzY3JpcHRzADYAAAABAQAA
	R2V0dGluZyBTdGFydGVkIHdpdGggQnJpZ2h0Y292ZSBQbGF5ZXIgRGV2ZWxvcG1lbnQu
	bTR2AAAcAAAAAQYAABAAAAAgAAAAMAAAADwAAABkAAAAhAAAAJQAAAAIAAAABAMAAOaa
	BAAAAAAACAAAAAQDAABMkw0AAAAAAAgAAAAEAwAAvpYOAAAAAAAIAAAABAMAAMG4IgAA
	AAAACAAAAAQDAAA8WX4BAAAAAAgAAAAEAwAAOOG1AQAAAAAIAAAABAMAALwBtwEAAAAA
	HAAAAAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAACAAAAAAEAABBvK2l/AAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQA
	AAADAwAAKcS3EQgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAAABoJzoAAAAIAAAAAAQAAEG6zeDWAAAAJAAAAAEBAAAzOUMzQTg5Ny00Q0I4LTM4
	NUYtODAzRi0yRTFFNjE2Q0FEMDUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA1AAAAAAA
	AAAFEAAAaAEAAAAAAAAQEAAAnAEAAAAAAABAEAAAjAEAAAAAAAACIAAAaAIAAAAAAAAF
	IAAA2AEAAAAAAAAQIAAA6AEAAAAAAAARIAAAHAIAAAAAAAASIAAA/AEAAAAAAAATIAAA
	DAIAAAAAAAAgIAAASAIAAAAAAAAwIAAAdAIAAAAAAAABwAAAvAEAAAAAAAARwAAAIAAA
	AAAAAAASwAAAzAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
